NOVA_ACT_API_KEY=xxx
NOVA_ACT_SKIP_PLAYWRIGHT_INSTALL=1
USER_DATA_DIR=/home/<user>/Clone-Chrome-profile/User Data
HEADLESS=0
DEFAULT_SPEED=1.2
GNL_BACKLOG="/mnt/g/Mon Drive/GNL-BACKLOG"
VALID_CONTENT_TYPES=GoogleDrive,WebAndYoutube,LocalStorage
GNL_PROCESSING_PATH=/mnt/d/PERSONAL/SKILLS/Technical/GNL-PROCESS/Main-docs
LOCAL_SEARCH_PATHS=.
PDF_PARTS_FOLDER=/mnt/d/PERSONAL/SKILLS/Technical/GNL-PROCESS/PDF-Parts
AUDIO_PARTS_FOLDER=/mnt/d/PERSONAL/SKILLS/Technical/GNL-PROCESS/Audio-Parts
MOEDL_INFERENCE_ID=xxx
AWS_BEARER_TOKEN_BEDROCK=xxx
AWS_REGION=us-east-1
NOTION_API_KEY=xxx
NOTION_PAGE_ID=xxx
